<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Facture</title>
    <link rel="stylesheet" href="{{ asset('Facture/style.css') }}" media="all" />
</head>
<body>
<header class="clearfix">


    <div id="logo">
        <img src="{{ asset('Facture/logo.png') }}" >
    </div>
    <h1>Commande </h1>
    <div id="company" class="clearfix">
        <div>Dream Life</div>
        <div>3eme étage, 39 rue de Paris RP Tunis   ,<br />1001 Tunis</div>
        <div>(+216) 71 256 454</div>
        <div><a href="#">dreamlife.doc@gmail.com</a></div>
    </div>
    <div id="project">

        <div><span>CLIENT</span> {{ app.user.prenom }} {{ app.user.nom }}</div>
        <div><span>ADDRESS</span> {{ app.user.adresse }}, {{ app.user.ville }}, {{ app.user.pays }}</div>
        <div><span>EMAIL</span> <a href="#">{{ app.user.email }}</a></div>
        <div><span>DATE</span>{{ "now"|date("d/m/Y") }}</div>

    </div>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th class="service">Nom Produit</th>
            <th class="desc">DESCRIPTION</th>
            <th>Prix</th>
            <th>Qte</th>
            <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>


        {% set tva = commande.montant * 0.19 %}
        {% set ttc = commande.montant + ( commande.montant * 0.19 ) %}
        {% for i in produits %}
        <tr>
            <td class="service">{{ i.libelle }}</td>
            <td class="desc">{{ i.shortdescription }} </td>
            <td class="unit">{{ i.prix }} Dt</td>
            <td class="qty">1</td>
            <td class="total">{{ i.prix }} Dt</td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="4">Sous Total</td>
            <td class="total">{{ commande.montant }} Dt</td>
        </tr>
        <tr>
            <td colspan="4">TVA 19%</td>
            <td class="total"> {{ tva }}  </td>
        </tr>
        <tr>
            <td colspan="4" class="grand total"> TOTAL A payer</td>
            <td class="grand total">{{ ttc }}</td>
        </tr>

        </tbody>


    </table>
    <div id="notices">
        <div>:</div>
        <div class="notice"></div>
    </div>
</main>
<footer>
    Merci pour votre commande.<br> ©Dream life
</footer>
</body>
</html>
