<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Facture</title>
    <link rel="stylesheet" href="{{ asset('Facture/style.css') }}" media="all" />
</head>
<body>
<header class="clearfix">


    <div id="logo">
        <img src="{{ asset('Facture/logo.png') }}" >
    </div>
    <h1>Facture N°237</h1>
    <div id="company" class="clearfix">
        <div>Dream Life</div>
        <div>15 Rue Ali ibn Abi taleb ,<br />2000 Bardo, Tunis</div>
        <div>(+216) 71 518 155</div>
        <div><a href="#">network_dreamlife@dreamlife.com.tn</a></div>
    </div>
    <div id="project">

        <div><span>CLIENT</span> {{ app.user.prenom }}{{ app.user.nom }}</div>
        <div><span>ADDRESS</span> {{ app.user.adresse }}, {{ app.user.ville }}, {{ app.user.pays }}</div>
        <div><span>EMAIL</span> <a href="#">{{ app.user.email }}</a></div>
        <div><span>DATE</span>{{ "now"|date("d/m/Y") }}</div>

    </div>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th class="service">Code Produit</th>
            <th class="desc">DESCRIPTION</th>
            <th>Prix</th>
            <th>Qte</th>
            <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="service">FTZ002</td>
            <td class="desc">{{ produit.description }} </td>
            <td class="unit">{{ produit.prix }} Dt</td>
            <td class="qty">1</td>
            <td class="total">{{ produit.prix }} Dt</td>
        </tr>

        <tr>
            <td colspan="4">Sous Total</td>
            <td class="total">{{ produit.prix }} Dt</td>
        </tr>
        <tr>
            <td colspan="4">TVA 19%</td>
            <td class="total">{{ produit.prix }} * 0,19 Dt</td>
        </tr>
        <tr>
            <td colspan="4" class="grand total"> TOTAL</td>
            <td class="grand total">142,8</td>
        </tr>
        </tbody>
    </table>
    <div id="notices">
        <div>:</div>
        <div class="notice"></div>
    </div>
</main>
<footer>
    Merci pour votre commande.<br> ©Dream life
</footer>
</body>
</html>