{% extends 'DLBackofficeBundle:BackLayout:Layout.html.twig' %}


{% block content %}
    <div class="women_main">
        <div class="tab-main">
            <!--/tabs-inner-->
            <div class="tab-inner">
                <div id="tabs" class="tabs">
                    <center><h2 class="inner-tittle"> MON TABLEAU DE BOARD </h2></center>
                    <div class="graph">
                        <nav>
                            <ul>
                                <li class="tab-current"><a href="#section-1"
                                                           class="icon-shop"><span>Mes Informations</span></a></li>
                                <li><a href="#section-2" class="icon-cup"><span>Mon Arbre</span></a></li>
                                <li><a href="#section-3" class="icon-food"><span>Mes Commandes</span></a></li>
                                <li><a href="#section-4" class="icon-food"><span>Ajouter Partenaire</span></a></li>
                            </ul>
                        </nav>
                        <div class="content tab">
                            <section id="section-1" class="content-current">

                                <div class="mediabox">
                                    <i class="fa fa-user"></i>
                                    <h3>Voir Profil</h3>
                                    <p>Vous pouvez vérifier vos informations personnelles et passer une reclamation à
                                        l'administration
                                        en cas d'erreur lors de l'inscription <br><br></p>
                                    <div>
                                        <a class="continue" href="{{ path('fos_user_profile_show') }}"> Mon Profil </a>
                                    </div>
                                </div>
                                <div class="mediabox">
                                    <i class="fa fa-key"></i>
                                    <h3>Changer mot de passe</h3>
                                    <p>En cas de besoin vous pouvez changer votre mot de passe en deux cliques. <br><br><br>
                                    </p>
                                    <div>
                                        <a class="continue" href="{{ path('fos_user_change_password') }}"> Changer mot de
                                            passe </a>
                                    </div>
                                </div>
                                <div class="mediabox">
                                    <i class="fa fa-bullhorn"></i>
                                    <h3>Passer une réclamation</h3>
                                    <p>L'espace réclamation vous permetteras de contacter l'administration de dream life
                                        directement
                                        en cas de problème lié à votre compte. </p>
                                    <div>
                                        <a class="continue" href="{{ path('contact') }}"> Passer une
                                            réclamation </a>
                                    </div>
                                </div>
                            </section>
                            <section id="section-2">
                                <div class="panel panel-primary two">
                                    <div class="panel-heading">
                                        <center> Afficher l'arbre de mon organisation</center>
                                    </div>
                                    <div class="panel-body ont two"><p> Votre arbre de partenaires sera l'interface qui
                                            vous permettera de
                                            visualiser vos succès.</p></div>

                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <a class="continue" href="{{ path('tree', {'id': app.user.id}) }}"
                                               >Voir mon arbre</a>
                                            {% else %}
                                            <a class="continue" href="{{ path('erreurarbre') }}"
                                               >Voir mon arbre</a>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>


                                </div>
                            </section>
                            <section id="section-3">
                                <div class="panel panel-primary two">
                                    <div class="panel-heading">
                                        <center> Afficher toutes mes commandes</center>
                                    </div>
                                    <div class="panel-body ont two"><p> Vous pouvez vérifier vous-mêmes les commandes de
                                            produits que vous avez déjà
                                            passé.</p></div>

                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            {% if is_granted('ROLE_ADMIN') %}
                                                {% if  (app.user.ribDocument == NULL and app.user.cinDocument == NULL ) %}
                                                    <a class="continue" href="{{ path('register1',  { 'id': app.user.id }) }}"
                                                       ">Ajouter vos documents </a>
                                                    {% else %}
                                                <a class="continue" href="{{ path('mescommandes') }}"
                                                   >Voir mes commandes </a>
                                                    {% endif %}
                                            {% else %}
                                                <a class="continue" href="{{ path('erreuradduser') }}"
                                                   target="_blank"> Voir mes commandes </a>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>


                            </section>

                            <section id="section-4">
                                <div class="panel panel-primary two">
                                    <div class="panel-heading">
                                        <center> Ajouter un nouveau partenaire</center>
                                    </div>
                                    <div class="panel-body ont two"><p> En ajoutant un nouveau membre ayant votre
                                            identifiant,
                                            vous pouvez augmenter le nombre de partenaires dans votre organisation. Par
                                            conséquence, vous aurez
                                            la possibilité d'augmenter vos bénéfices mensuel</p></div>

                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <a class="continue" href="{{ path('fos_user_registration_register') }}"
                                               target="_blank">Ajouter Partenaire </a>
                                            {% else %}
                                            <a class="continue" href="{{ path('erreuradduser') }}"
                                               target="_blank">Ajouter Partenaire </a>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>


                                </div>
                            </section>


                        </div><!-- /content -->
                    </div>
                    <!-- /tabs -->
                </div>
                <script src="{{ asset('Backoffice/js/cbpFWTabs.js') }}"></script>
                <script>
                    new CBPFWTabs(document.getElementById('tabs'));
                </script>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock content %}



