{% extends 'DLBackofficeBundle:BackLayout:Layout.html.twig' %}


{% block content %}
    <div class="women_main">
        <div class="tab-main">
            <!--/tabs-inner-->
            <div class="tab-inner">
                <div id="tabs" class="tabs">
                    <center><h2 class="inner-tittle"> MON TABLEAU DE BOARD </h2></center>
                    <div class="graph">
                        <nav>
                            <ul>
                                <li class="tab-current"><a href="#section-1"
                                                           class="icon-shop"><span>Mes Informations</span></a></li>
                                <li><a href="#section-2" class="icon-cup"><span>Mon Arbre</span></a></li>
                                <li><a href="#section-3" class="icon-food"><span>Mes Commandes</span></a></li>
                                <li><a href="#section-4" class="icon-food"><span>Ajouter Partenaire</span></a></li>
                            </ul>
                        </nav>
                        <div class="content tab">
                            <section id="section-1" class="content-current">

                                <div class="mediabox">
                                    <i class="fa fa-sitemap"></i>
                                    <h3>Voir Profil</h3>
                                    <p>Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic
                                        brussels sprout groundnut summer purslane earthnut pea tomato spring onion azuki
                                        bean gourd. </p>
                                    <div>
                                        <a class="continue" href="{{ path('fos_user_profile_show') }}"> Mon Profil </a>
                                    </div>
                                </div>
                                <div class="mediabox">
                                    <i class="fa fa-shopping-cart"></i>
                                    <h3>Changer mot de passe</h3>
                                    <p>Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic
                                        brussels sprout groundnut summer purslane earthnut pea tomato spring onion azuki
                                        bean gourd. </p>
                                    <div>
                                        <a class="continue" href="{{ path('fos_user_profile_show') }}"> Mon Profil </a>
                                    </div>
                                </div>
                                <div class="mediabox">
                                    <i class="fa fa-suitcase"></i>
                                    <h3>Passer une réclamation</h3>
                                    <p>Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic
                                        brussels sprout groundnut summer purslane earthnut pea tomato spring onion azuki
                                        bean gourd. </p>
                                    <div>
                                        <a class="continue" href="{{ path('fos_user_profile_show') }}"> Mon Profil </a>
                                    </div>
                                </div>
                            </section>
                            <section id="section-2">
                                <div class="panel panel-primary two">
                                    <div class="panel-heading">
                                        <center> Afficher l'arbre de mon organisation</center>
                                    </div>
                                    <div class="panel-body ont two"><p> En ajoutant un nouveau membre ayant votre
                                            identifiant,
                                            vous pouvez augmenter le nombre de partenaires dans votre organisation. Par
                                            conséquence, vous aurez
                                            la possibilité d'augmenter vos bénéfices mensuel</p></div>

                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <a class="continue" href="{{ path('fos_user_registration_register') }}"
                                               target="_blank">Voir mon arbre</a>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>


                                </div>
                            </section>
                            <section id="section-3">
                                <div class="mediabox">
                                    <i class="fa fa-sitemap"></i>
                                    <h3>Into electronic</h3>
                                    <p>Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic
                                        brussels sprout groundnut summer purslane earthnut pea tomato spring onion azuki
                                        bean gourd. </p>
                                </div>
                                <div class="mediabox">
                                    <i class="fa fa-suitcase"></i>
                                    <h3>Various versions</h3>
                                    <p>Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic
                                        brussels sprout groundnut summer purslane earthnut pea tomato spring onion azuki
                                        bean gourd. </p>
                                </div>
                                <div class="mediabox">
                                    <i class="fa fa-shopping-cart"></i>
                                    <h3>Industry's standard</h3>
                                    <p>Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic
                                        brussels sprout groundnut summer purslane earthnut pea tomato spring onion azuki
                                        bean gourd. </p>
                                </div>
                            </section>

                            <section id="section-4">
                                <div class="panel panel-primary two">
                                    <div class="panel-heading">
                                        <center> Ajouter un nouveau partenaire</center>
                                    </div>
                                    <div class="panel-body ont two"><p> En ajoutant un nouveau membre ayant votre
                                            identifiant,
                                            vous pouvez augmenter le nombre de partenaires dans votre organisation. Par
                                            conséquence, vous aurez
                                            la possibilité d'augmenter vos bénéfices mensuel</p></div>

                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <a class="continue" href="{{ path('fos_user_registration_register') }}"
                                               target="_blank">Ajouter Partenaire </a>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>


                                </div>
                            </section>


                        </div><!-- /content -->
                    </div>
                    <!-- /tabs -->
                </div>
                <script src="{{ asset('Backoffice/js/cbpFWTabs.js') }}"></script>
                <script>
                    new CBPFWTabs(document.getElementById('tabs'));
                </script>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock content %}



