{% extends '@DLUser/Profile/show.html.twig' %}

{% block headtree %}
    <meta charset="utf-8">
    <title>Organization Chart Plugin</title>
    <link rel="stylesheet" href="{{ asset('tree/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('tree/css/jquery.orgchart.min.css') }}">
    <link rel="stylesheet" href="{{ asset('tree/css/style.css') }}">
    <style type="text/css">
        .orgchart { background: #fff; }
        .orgchart td.left, .orgchart td.right, .orgchart td.top { border-color: #aaa; }
        .orgchart td>.down { background-color: #aaa; }
        .orgchart .middle-level .title { background-color: #006699; }
        .orgchart .middle-level .content { border-color: #006699; }
        .orgchart .product-dept .title { background-color: #009933; }
        .orgchart .product-dept .content { border-color: #009933; }
        .orgchart .rd-dept .title { background-color: #993366; }
        .orgchart .rd-dept .content { border-color: #993366; }
        .orgchart .pipeline1 .title { background-color: #996633; }
        .orgchart .pipeline1 .content { border-color: #996633; }
        .orgchart .frontend1 .title { background-color: #cc0066; }
        .orgchart .frontend1 .content { border-color: #cc0066; }
    </style>
{% endblock headtree %}

{% block container %}
<div id="chart-container"></div>

<script type="text/javascript" src="{{ asset('tree/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('tree/js/jquery.orgchart.min.js') }}"></script>
<script type="text/javascript">
    (function() {
        var flickerAPI = "http://46.105.31.54/tree/9010";
        console.log(flickerAPI)
        $.getJSON( flickerAPI, {
            tags: "mount rainier",
            tagmode: "any",
            format: "json"
        })
            .done(function( data ) {

                $.each( data, function( i, item ) {
                });
                $('#chart-container').orgchart({
                    'data' : data,
                    'nodeContent': 'title',

                });
            });

    })();
</script>
{% endblock container %}
