{% extends "@DLBackoffice/BackLayout/Layout.html.twig" %}
{% form_theme form with '@DLUser/Frontlayout/bootstrap_3_layout.html.twig' %}

{% block content %}
    <style>

        /* Profile container */
        .profile {
            margin: 20px 0;
        }

        /* Profile sidebar */
        .profile-sidebar {
            padding: 20px 0 10px 0;
            background: #fff;
        }

        .profile-userpic img {
            float: none;
            margin: 0 auto;
            width: 50%;
            height: 50%;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            border-radius: 50% !important;
        }

        .profile-usertitle {
            text-align: center;
            margin-top: 20px;
        }

        .profile-usertitle-name {
            color: #e07e27;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 7px;
        }

        .profile-usertitle-job {
            text-transform: uppercase;
            color: #5b9bd1;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .profile-userbuttons {
            text-align: center;
            margin-top: 10px;
        }

        .profile-userbuttons .btn {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            padding: 6px 15px;
            margin-right: 5px;
        }

        .profile-userbuttons .btn:last-child {
            margin-right: 0px;
        }

        .profile-usermenu {
            margin-top: 30px;
        }

        .profile-usermenu ul li {
            border-bottom: 1px solid #f0f4f7;
        }

        .profile-usermenu ul li:last-child {
            border-bottom: none;
        }

        .profile-usermenu ul li a {
            color: #93a3b5;
            font-size: 14px;
            font-weight: 400;
        }

        .profile-usermenu ul li a i {
            margin-right: 8px;
            font-size: 14px;
        }

        .profile-usermenu ul li a:hover {
            background-color: #fafcfd;
            color: #5b9bd1;
        }

        .profile-usermenu ul li.active {
            border-bottom: none;
        }

        .profile-usermenu ul li.active a {
            color: #5b9bd1;
            background-color: #f6f9fb;
            border-left: 2px solid #e07e27;
            margin-left: -2px;
        }

        /* Profile Content */
        .profile-content {
            padding: 20px;
            background: #fff;
            min-height: 460px;
        }

    </style>

    <div class="women_main" style="background: #F1F3FA;">

        <div class="container" id="container">

            <div class="row profile">
                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg"
                                 class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            {% if app.user.civilite == "gender.male" %}
                                <img src="{{ asset('Backoffice/images/avatar-homme.png') }}" style="max-width: 145px">
                                <bR><bR>
                            {% else %}
                                <img src="{{ asset('Backoffice/images/avatar-femme.png') }}" style="max-width: 145px">
                                <bR><bR>
                            {% endif %}
                            <div class="profile-usertitle-name">
                                {{ app.user.prenom }} {{ app.user.nom }}
                            </div>
                            <div class="profile-usertitle-job">
                                {% if is_granted('ROLE_NETWORKER') %}
                                    Networker
                                {% else %}
                                    Utilisateur
                                {% endif %}
                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        {#<div class="profile-userbuttons">
                            <button type="button" class="btn btn-success btn-sm">Follow</button>
                            <button type="button" class="btn btn-danger btn-sm">Message</button>
                        </div>#}
                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                {% block general %}
                                <li>{% endblock general %}
                                    <a href="{{ path('fos_user_profile_show') }}#container">
                                        <i class="glyphicon glyphicon-home"></i>
                                        Général </a>
                                </li>
                                {% block partenaire %}<li>{% endblock partenaire %}
                                    <a href="{{ path('mespartenaires', {'id': app.user.id}) }}">
                                        <i class="glyphicon glyphicon-user"></i>
                                        Mes partenaires gauche</a>
                                </li>
                                </li>
                                <li>
                                    <a href="{{ path('mespartenaires2', {'id': app.user.id}) }}">
                                        <i class="glyphicon glyphicon-user"></i>
                                        Mes partenaires droite</a>
                                </li>
                                {% block mycommande %}
                                <li>{% endblock mycommande %}
                                    <a href="{{ path('mescommandes') }}"><i class="glyphicon glyphicon-ok"></i>Mes commandes </a>
                                </li>
                                {% block password %}<li  class="active">{% endblock password %}
                                    <a href="{{ path('fos_user_change_password') }}#container">
                                        <i class="glyphicon glyphicon-flag"></i>
                                        Changer mot de passe </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                </div>
                <div class="col-md-7">

                            <div class="profile-content">
                                <p style="text-align: right; color: #e07e27;">Dernière connexion: {{ app.user.lastLogin|date('d-m-Y H:i:s') }}</p>
                                <br><br><br><br>
                                <center><h2>Changer mot de passe</h2> </center>
                                <br><br><br><br>
                            {% trans_default_domain 'FOSUserBundle' %}

                            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                            {{ form_widget(form) }}
                            <div>
                                <input type="submit" value="{{ 'change_password.submit'|trans }}"/>
                            </div>
                            {{ form_end(form) }}


                </div>
            </div>
        </div>

    </div>

    <br>
    <br>

    </div>
{% endblock content %}