<!DOCTYPE html>
<html lang="fr">

<head>

    {% block header %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <meta content="width=device-width, maximum-scale=1.0, user-scalable=0" name="viewport">

        <title>DreamLife - Accueil</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset ('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{{ asset ('vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
              rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
              rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="{{ asset ('vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset ('css/style.css') }}" rel="stylesheet">

    {% endblock header %}

</head>

<body id="page-top" class="home-page">

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : 184326525493656,
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.11'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

{% block navigation %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light top-navbar" id="loginNav">
        <div class="container">
            <div class="social-links">
                <a class="brand js-scroll-trigger d-table d-md-none" href="#page-top"><img
                            src="{{ asset ('img/logo-white.png') }}" alt="DreamLife logo" class="logo"></a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#"><i class="fa fa-facebook-square facebook"
                                                                          aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#"><i class="fa fa-youtube-square youtube"
                                                                          aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <input type="search" placeholder="Rechercher..." class="search-input w-100">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_security_login') }}">Connexion IR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('inscription') }}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        {% if app.user %}

                                <a class="nav-link js-scroll-trigger" href="{{ path('allProducts') }}">
                            {% else %}
                                <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_security_login') }}">
                            {% endif %}
                                    Acheter</a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light top-navbar" id="mainNav">
        <div class="container">
            <div class="mx-md-auto" id="navbarResponsive2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#a-propos">Notre société</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#produits">Nos produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#opportunites">Opportunités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('actualite') }}">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Centre d'assistance</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
        <a class="brand js-scroll-trigger mt-5 d-none d-md-table" href="#page-top"><img
                    src="{{ asset ('img/logo-white.png') }}" alt="DreamLife logo" class="logo"></a>
        <div class="header-text">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <p><span class="font-weight-normal">Network DreamLife commercialise sa propre marque de produits DreamLife</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-text-bottom">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <p><span class="font-eras font-weight-light">C'est le moment ou jamais pour changer</span> <span
                                    class="font-weight-bold">votre vie</span></p>
                    </div>
                </div>
            </div>
        </div>

    </header>

{% endblock navigation %}

{% block body %}

    <section id="a-propos">
        <div class="container w-100 max-width-none mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <div class="section-heading my-5">
                        <hr>
                        <h1 class="text-primary font-eras">Qui somme-nous?</h1>
                        <hr>
                    </div>
                    <p class="body-text text-primary mb-4 font-eras">
                        Network DreamLife, créateur de richesse! Network DreamLife vous aide à atteindre votre
                        indépendance financière et transformer vos rêves en réalités.
                        <br>
                        <br>
                        Network DreamLife est une société qui distribue des produits High-Tech Haut de gamme, en
                        adoptant le concept du Marketing de Réseau.
                    </p>
                </div>
            </div>
        </div>

        <div class="container w-100 max-width-none bg-dark">
            <div class="row">
                <div class="col-lg-12 mx-auto text-center">
                    <div class="section-heading my-5">
                        <hr class="light-hr">
                        <h1 class="text-white font-eras">Le marketing de réseau</h1>
                        <hr class="light-hr">
                    </div>

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="carousel-caption d-block">
                                    <p class="body-text text-white mb-4 font-eras">
                                        Le Marketing de Réseau n’est autre qu’un système de distribution basé sur la
                                        recommandation d’un individu à un autre couramment appelé « bouche à oreille ».
                                        C’est le marketing de recommandation ou marketing relationnel plus connu sous le
                                        nom de MLM (Multi Level Marketing)
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption d-block">
                                    <p class="body-text text-white mb-4 font-eras">
                                        Le Marketing de Réseau n’est autre qu’un système de distribution basé sur la
                                        recommandation d’un individu à un autre couramment appelé « bouche à oreille ».
                                        C’est le marketing de recommandation ou marketing relationnel plus connu sous le
                                        nom de MLM (Multi Level Marketing)
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption d-block">
                                    <p class="body-text text-white mb-4 font-eras">
                                        Le Marketing de Réseau n’est autre qu’un système de distribution basé sur la
                                        recommandation d’un individu à un autre couramment appelé « bouche à oreille ».
                                        C’est le marketing de recommandation ou marketing relationnel plus connu sous le
                                        nom de MLM (Multi Level Marketing)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="p-0" id="produits">

        <div class="section-heading py-5 text-center">
            <hr>
            <h1 class="text-primary font-eras">Produits</h1>
            <hr>
        </div>

        <div class="container-fluid products">
            <div class="row popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="product-box sr-button" href="#">
                        <div style="background-image: url('{{ asset ('img/product/thumbnails/1.png') }}')" class="product-img"></div>
                        <div class="product-box-caption">
                            <div class="product-box-caption-content">
                                <img src="{{ asset ('img/eye.png') }}" class="eye-icon" alt="eye-icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="product-box sr-button" href="#">
                        <div style="background-image: url('{{ asset ('img/product/thumbnails/2.png') }}')" class="product-img"></div>
                        <div class="product-box-caption">
                            <div class="product-box-caption-content">
                                <img src="{{ asset ('img/eye.png') }}" class="eye-icon" alt="eye-icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="product-box sr-button" href="#">
                        <div style="background-image: url('{{ asset ('img/product/thumbnails/3.png') }}')" class="product-img"></div>
                        <div class="product-box-caption">
                            <div class="product-box-caption-content">
                                <img src="{{ asset ('img/eye.png') }}" class="eye-icon" alt="eye-icon">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="news" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="section-heading mt-5 mb-2 mx-auto">
                    <hr class="light-hr">
                    <h1 class="text-white font-eras text-center">Events & News</h1>
                    <hr class="light-hr">
                </div>
            </div>
        </div>
        <div class="container news-container pb-5">
            <div class="row">
                <div class="col">
                    <a href="#">
                        <div class="news-img mt-5 mx-auto sr-icons"
                             style="background-image: url('{{ asset ('img/placeholder.jpg') }}')"></div>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="news-img mt-5 mx-auto sr-icons"
                             style="background-image: url('{{ asset ('img/placeholder.jpg') }}')"></div>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="news-img mt-5 mx-auto sr-icons"
                             style="background-image: url('{{ asset ('img/placeholder.jpg') }}')"></div>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="news-img mt-5 mx-auto sr-icons"
                             style="background-image: url('{{ asset ('img/placeholder.jpg') }}')"></div>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="news-img mt-5 mx-auto sr-icons"
                             style="background-image: url('{{ asset ('img/placeholder.jpg') }}')"></div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="section-heading my-5 mb-2 mx-auto">
                    <hr>
                    <h1 class="font-eras text-center">Contact</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope fa-3x mb-3 sr-contact text-primary"></i>
                    <p class="text-primary contact-text font-eras font-weight-light"><a
                                href="mailto:your-email@your-domain.com">network_dreamlife@dreamlife.com.tn</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-mobile fa-3x mb-3 sr-contact text-primary"></i>
                    <p class="text-primary contact-text font-eras font-weight-light">(+216) 29 809 938</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-map-marker fa-3x mb-3 sr-contact text-primary"></i>
                    <p class="text-primary contact-text font-eras font-weight-light">15 Rue Ali Ibn Abi Taleb 2000 Bardo
                        Tunis</p>
                </div>
            </div>

            <!-- Map -->
            <div class="px-5 mb-5">
                <div class="map mx-lg-5">
                    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=15+Rue+Ali+Ibn+Abi+Taleb+2000+Bardo+Tunis&amp;aq=0&amp;oq=twitter&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
                </div>
            </div>

        </div>
    </section>
{% endblock body %}

{% block footer %}
    <!-- Footer -->
    <footer class="py-4 bg-primary">
        <div class="container">
            <p class="m-0 py-1 text-center text-white font-eras font-weight-light">Copyright © 2018 DreamLife. All
                Rights Reserved</p>
        </div>
        <!-- /.container -->
    </footer>

{% endblock footer %}

<!-- Bootstrap core JavaScript -->
<script src="{{ asset ('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset ('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ asset ('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset ('vendor/scrollreveal/scrollreveal.min.js') }}"></script>
<script src="{{ asset ('vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ asset ('js/style.js') }}"></script>

</body>

</html>
